{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EH-DSS</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div class="page-header">
      <a href="{% url 'home' %}"><img src="{% static "img/engineering-logo.jpg" %}"></a>
      <div class="top-left">
        {% if user.is_authenticated %}
          <p class="top-menu">Hello {{ user.username }} </p>
          <a href="{% url 'logout' %}">Log out</a>
        {% else %}
          <button type="button" class="btn btn-primary"><a href="{% url 'login' %}">Login</a></button>
        {% endif %}
      </div>
    </div>
    <div class="content">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>

  </body>
</html>
